:root {
    --bg: #ffffff;
    --bg_container: #f2f2f2;
    --bg_check: #709acf;
    --table_th: #d8d8d8;
    --table_tr: #e5e5e5;
    --text_light: #666666;
    --text_dark: #333333;
    --color_basic: #f19e17;
    --gr_dark: #0F3F73;
    --gr_light: #3165AE;
    --bt_light: #4E76A5;
    --bt_dark: #0E3F72;
    --color_error: #c80000;
}


/*//////////////////////////////////////////////////////////////////
    [ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}


/*//////////////////////////////////////////////////////////////////
    [ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Lato', Arial, sans-serif;
    background: var(--bg_container);
}

/*---------------------------------------------*/
a {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: var(--bg);
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: var(--bg);
    /* color: -webkit-linear-gradient(left, var(--color_dark), var(--color_light));
      color: -o-linear-gradient(left, var(--color_dark), var(--color_light));
      color: -moz-linear-gradient(left, var(--color_dark), var(--color_light));
      color: linear-gradient(left, var(--color_dark), var(--color_light)); */
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: var(--text_light);
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
    [ Utility ]*/
.txt1 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
    color: var(--text_light);
    line-height: 1.5;
}

.txt2 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
    color: var(--text_dark);
    line-height: 1.5;
}

.txt3 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    color: var(--bg);
    line-height: 1.5;
}

.txt4 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    /* font-weight: bold; */
    color: var(--gr_dark);
    line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
    [ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background: var(--bg_container); */
}

.wrap-login100 {
    width: 100%;
    height: auto;
    /* background: var(--bg); */
    background-image: linear-gradient(var(--gr_dark), var(--gr_light));
    overflow: hidden;
    padding: 30px;
    /* margin: 20px; */

    /* box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1); */
}

/* .container-login100 {
      width: 100%;
      min-height: 100vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .wrap-login100 {
      width: 500px;
      background: var(--bg);
      border-radius: 10px;
      overflow: hidden;
      padding: 50px 0px 33px 0px;
    } */

.leaflet {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-height: 100%;
    /* padding: 0 40px; */
    /* overflow: auto; */
}

.leafletimage {
    float: left;
    width: 25%;
    max-height: 100%;
    padding: 0 40px;
    overflow: auto;
}

.leafletdescription {
    float: right;
    width: 75%;
    height: auto;
    max-height: 100%;
    padding: 0 40px;
    overflow: auto;
}

.bigdescription {
    width: 100%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
}

.bigdescription img {
    width: 50vw;
}

.bigdescription video {
    width: 70vw;
    padding: 15px;
}


@media only screen and (max-width: 900px) {
    .line {
        flex-direction: column;
    }

    .linevideo {
        flex-direction: column;
    }

    .leaflet {
        flex-direction: column;
        padding: 0px;
    }

    .leafletimage {
        width: 100%;
        padding: 0px;
    }

    .leafletdescription {
        width: 100%;
        padding: 0px;
    }

    .image {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .bigdescription img {
        width: 100%;
    }

    .videomaterial {
        width: 90vw;
    }
}

/*------------------------------------------------------------------
    [ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 30px;
    color: var(--text_dark);
    line-height: 1.2;
    text-align: center;
}

.login100-form-title i {
    font-size: 60px;
}

.check {
    border-radius: 10px;
    width: 270px;
    height: 40px;
    /* background-image: linear-gradient(to right, var(--color_dark), var(--color_light)); */
    background: rgba(19, 73, 190, 0.7);
    padding: 5px;

}

.check-payment-none {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--bg);
    width: 200px;
    height: auto;
    /* background: var(--bg); */
    padding: 5px;
    text-align: center;

}

.check-payment {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--bg);
    width: 200px;
    height: auto;
    /* background: var(--bg); */
    padding: 5px;
    text-align: center;

}

.check-payment:hover {
    background: var(--bt_light);
}

.check-message {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    margin: 30px auto;

}

.img-logo {
    margin: 0;
}

@media only screen and (max-width: 900px) {
    .img-logo {
        margin: 0;
        display: none;
    }

    .check-message {
        margin: 0;
        height: auto;
    }

    .check {
        height: auto;
        padding: 0px;
        margin: 0;
        width: 100%;
    }

    .check a {
        font-size: 16px;
    }

    .check-payment {
        height: auto;
        width: 100%;
    }

    .check-payment a {
        font-size: 16px;
    }
}

/*------------------------------------------------------------------
    [ Table ]*/

.size-table {
    width: 100%;
    margin: 0 auto;
}

.container-table {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;

}

.table {
    width: 1000px;
    border: none;
    margin-bottom: 20px;

}

.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: var(--table_th);
    font-size: 14px;

}

.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;

}

.table tbody tr:nth-child(even) {
    background: var(--table_tr);
}

.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.table-payments {
    width: 800px;
    border: none;
    margin-bottom: 20px;

}

.table-payments thead th {
    font-weight: bold;
    text-align: right;
    border: none;
    padding: 10px 15px;
    background: var(--table_th);
    font-size: 20px;
    color: var(--bg);

}

.table-payments thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.table-payments thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table-payments tbody td {
    text-align: right;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    vertical-align: center;
    color: var(--bg);

}

.table-payments tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.table-payments tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

@media only screen and (max-width: 900px) {
    .table-payments {
        width: 100%;
        margin-bottom: 5px;
        /* display: flex; */
    }

    .table-payments tbody td {
        padding: 5px;
        width: 35%;
        font-size: 16px;
    }

}

/* -------------------------------------------------------------------
    grid */
.grid-box-business {
    width: 100%;
}

.grid-container-business {
    display: grid;
    justify-content: space-evenly;
    width: 100%;
    grid-template-columns: 50% 50%;
    /* background: var(--bg); */
    gap: 10px;
    padding: 10px;
    /* background-color: rgba(242, 242, 242, 0.95); */

}

@media only screen and (max-width: 900px) {
    .grid-container-business {
        grid-template-columns: 100%;
    }
}


.grid-box {
    width: 100%;
    /* background-image: url("/images/gerb.jpg");
    opacity: 0.2;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 50% 50%; */
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    width: 100%;
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
    /* background: var(--bg); */
    gap: 10px;
    padding: 20px;
    background-color: rgba(242, 242, 242, 0.95);

}

.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-image: url("images/gerb.jpg"); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.hint {
    /* display: inline-block; РЎС‚СЂРѕС‡РЅРѕ-Р±Р»РѕС‡РЅС‹Р№ СЌР»РµРјРµРЅС‚ */
    position: relative;
    /* РћС‚РЅРѕСЃРёС‚РµР»СЊРЅРѕРµ РїРѕР·РёС†РёРѕРЅРёСЂРѕРІР°РЅРёРµ */
    cursor: help;
}

.hint:hover::after {
    content: attr(data-title);
    /* Р’С‹РІРѕРґРёРј С‚РµРєСЃС‚ */
    position: absolute;
    /* РђР±СЃРѕР»СЋС‚РЅРѕРµ РїРѕР·РёС†РёРѕРЅРёСЂРѕРІР°РЅРёРµ */
    width: 100px;
    left: 80%;
    top: -100%;
    /* РџРѕР»РѕР¶РµРЅРёРµ РїРѕРґСЃРєР°Р·РєРё */
    z-index: 1;
    /* РћС‚РѕР±СЂР°Р¶Р°РµРј РїРѕРґСЃРєР°Р·РєСѓ РїРѕРІРµСЂС… РґСЂСѓРіРёС… СЌР»РµРјРµРЅС‚РѕРІ */
    background: rgba(248, 201, 124, 0.8);
    /* РџРѕР»СѓРїСЂРѕР·СЂР°С‡РЅС‹Р№ С†РІРµС‚ С„РѕРЅР° */
    font-family: 'Lato', Arial, sans-serif;
    /* Р“Р°СЂРЅРёС‚СѓСЂР° С€СЂРёС„С‚Р° */
    font-size: 12px;
    /* Р Р°Р·РјРµСЂ С‚РµРєСЃС‚Р° РїРѕРґСЃРєР°Р·РєРё */
    padding: 5px 10px;
    /* РџРѕР»СЏ */
    border: 1px solid rgba(241, 158, 23, 1);
    /* РџР°СЂР°РјРµС‚СЂС‹ СЂР°РјРєРё */
}

@media only screen and (max-width: 1320px) {
    .grid-container {
        grid-template-columns: 12% 12% 12% 12% 12% 12%;
    }
}

@media only screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 100px 100px 100px;
    }

    .grid-container img {
        width: 100px;
        height: 150px;
    }
}

/* -------------------------------------------------------------------
    progress bar */

/* $progress-background: ;
  $first: #353535;
  $second: #3c6e71;
  $third: #d9d9d9;
  $fourth: #284b63; */


.container-progress {
    margin: 50px auto;
    width: 60vw;
    text-align: center;
}

.progress {
    padding: 6px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7),
      0 1px rgba(255, 255, 255, 0.08); */
}

.progress-bar {
    height: 35px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar {
    background-color: rgba(15, 63, 115, 8);
    width: 73%;
    background-image: linear-gradient(45deg,
    rgba(49, 101, 174, 1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(49, 101, 174, 0.75) 50%,
    rgba(49, 101, 174, 1) 75%,
    transparent 75%,
    transparent);
    /* animation: progressAnimationStrike 6s; */
}

.progress-striped .progress-bar > p {
    text-align: center;
    color: white;
    /* -webkit-text-stroke: 0.1px black; */
    font-size: 25px;
    font-weight: bold;
}

@keyframes progressAnimationStrike0 {
    from {
        width: 0;
    }

    to {
        width: 0%;
    }
}

@keyframes progressAnimationStrike10 {
    from {
        width: 0;
    }

    to {
        width: 10%;
    }
}

@keyframes progressAnimationStrike23 {
    from {
        width: 0;
    }

    to {
        width: 23%;
    }
}

@keyframes progressAnimationStrike38 {
    from {
        width: 0;
    }

    to {
        width: 38%;
    }
}

@keyframes progressAnimationStrike58 {
    from {
        width: 0;
    }

    to {
        width: 58%;
    }
}

@keyframes progressAnimationStrike73 {
    from {
        width: 0;
    }

    to {
        width: 73%;
    }
}

@keyframes progressAnimationStrike85 {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

@keyframes progressAnimationStrike95 {
    from {
        width: 0;
    }

    to {
        width: 95%;
    }
}

@keyframes progressAnimationStrike100 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .container-progress {
        width: 80vw;
    }
}

/*------------------------------------------------------------------
    [ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input100 {
    font-family: 'Poppins', sans-serif 'Lato', Arial, sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: var(--color_basic);
    /* background: -webkit-linear-gradient(left, var(--color_dark), var(--color_light));
      background: -o-linear-gradient(left, var(--color_dark), var(--color_light));
      background: -moz-linear-gradient(left, var(--color_dark), var(--color_light)); */
    background: linear-gradient(to left, var(--color_dark), var(--color_light));
}

.focus-input100::after {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
    top: -15px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -15px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-pass:hover {
    color: var(--color_basic);
    /* color: -webkit-linear-gradient(left, var(--color_light), var(--color_dark));
      color: -o-linear-gradient(left, var(--color_light), var(--color_dark));
      color: -moz-linear-gradient(left, var(--color_light), var(--color_dark)); */
    color: linear-gradient(to left, var(--color_light), var(--color_dark));
}

.btn-show-pass.active {
    color: var(--color_basic);
    /* color: -webkit-linear-gradient(left, var(--color_light), var(--color_dark));
      color: -o-linear-gradient(left, var(--color_light), var(--color_dark));
      color: -moz-linear-gradient(left, var(--color_light), var(--color_dark)); */
    color: linear-gradient(to left, var(--color_light), var(--color_dark));
}


/*------------------------------------------------------------------
    [ Button ]*/
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: var(--color_basic);
    /* background: -webkit-linear-gradient(right, var(--color_light), var(--color_dark), var(--color_light), var(--color_dark));
      background: -o-linear-gradient(right, var(--color_light), var(--color_dark), var(--color_light), var(--color_dark));
      background: -moz-linear-gradient(right, var(--color_light), var(--color_dark), var(--color_light), var(--color_dark)); */
    background: linear-gradient(to right, var(--color_light), var(--color_dark), var(--color_light), var(--color_dark));
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
    color: var(--bg);
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}


/*------------------------------------------------------------------
    [ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 15px;
    }
}


/*------------------------------------------------------------------
    [ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: var(--bg);
    border: 1px solid var(--color_error);
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: 'Lato', Arial, sans-serif;
    color: var(--color_error);
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 16px;
    color: var(--color_error);

    display: block;
    position: absolute;
    background-color: var(--bg);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

.progress {
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    background-color: #e9ecef;
    border-radius: .25rem;
}
